body {
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

header > img {
  width: 100px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ul li {
  color: orange;
}

ul li a {
  text-decoration: none;
  color: inherit;
}
