<h1>RENT OUT A CAT :) !</h1>

<form action="<%= cat_rental_requests_url %>" method="post">

  <label for="cat">Select cat to rent</label>
  <select id="cat" name="cat_rental_request[cat_id]">
    <option disabled selected>-- Please Select --</option>
    <% @cats.each do |cat| %>
      <option value= <%= cat.id %>> <%= "#{cat.name}" %></option>
    <% end %>
  </select>

  <br><br>

  <label for="start_date">Rental start date</label>
  <input id="start_date" type="date" name="cat_rental_request[start_date]">

  <label for="end_date">Rental end date</label>
  <input id="end_date" type="date" name="cat_rental_request[end_date]">
<br><br>
  <input type="submit" value="rent cat">
</form>
